wsdl/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://localhost:3000/invoices"
  xmlns:tns="http://localhost:3000/invoices">

  <xsd:element name="getInvoicesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="invoice" type="xsd:int" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="getInvoicesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>